* {
  margin: 0;
  padding: 0;
  font-family: Segoe UI;
}

body::-webkit-scrollbar {
  width: 8px ;
  background-color: white;
}

body::-webkit-scrollbar-thumb {
  width: 8px;
  background-color: gray;
  border-radius: 8px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
}

.name {
  color: rgb(116, 110, 110);
  font-weight: 400;
  font-style: italic;
  text-decoration: underline;
}

.qual {
  color: black;
  font-size: 14px;
  font-family: sans-serif;
  font-style: italic;
  letter-spacing: 2px;
}

.me {
  color: gray;
  font-size: 15px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
}

.chat-btn {
  background:none;
  border: 1.2px solid gray;
  color: gray;
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 30px;

  &:hover {
    color: white;
    background-color: gray;
  }
}


//  BLOGS STYLING STARTS HERE 

.blogs {

  margin-top: 4rem;
  margin-bottom: 4rem;

  .row-3 {
    margin-top: 3rem;
  }

  .blog {
    text-align: center;
    gap: 20px;
    
    h4 {
      color: rgb(117, 109, 109);
    }
    
    .blog-content {
      color: gray;
      letter-spacing: 1px ;
      word-spacing: 2px;
      font-size: 14px;
    }
  }


  
  .blog-heading {
    color: gray;
    font-weight: 400;
    font-style: italic;
    display: block;
    width: fit-content;
    text-decoration: underline;
    letter-spacing: 3px;
    margin-bottom: 6rem;
  }

  .date {
    color: gray;
    font-size: 14px;

  }
}



@media screen and (max-width:1000px) {
  .clinic-pics {
    display: none;
  }
}

.clinic {
  position: relative;
  height: fit-content;
  margin-bottom: 10rem;
}
.clinic-pics {
  position: relative;
  height: fit-content;
  

  img {
    position: absolute;
    border: 4px solid white;

  }

  .clinic-pic-1 {
    width: 20rem;
    z-index: 100;
    left: 20%;
    position: absolute;
    top: -100%;
  }
  .clinic-pic-2 {
    width: 20rem;
    left: 10%;
  }
  .clinic-pic-3 {
    width: 10rem;
  }
}




//  BOOKING PAGE STYLING STARTS HERE 

h2 {
  width: fit-content;
}

.booking-wrapper {
  margin-top: 5rem;



  .booking-heading {
    color: gray;
    font-weight: 400;
    font-style: italic;
    display: block;
    width: fit-content;
    text-decoration: underline;
    letter-spacing: 3px;
    margin-bottom: 6rem;
  }

  select {
    font-size: 15px;
  }

  .form {
    box-shadow: 0px 0px 30px rgb(194, 190, 190);
    border-radius: 20px;
    padding: 2rem 2rem;
  }

  textarea {
    resize: none;
  }

}


//  BLOG PAGE STYLING STARTS 


.blog-page-wrapper, .blogs-page-wrapper {

  margin-top: 10vh;

  h2.blog-heading {
    color:gray;
  }

  span.date {
    color: rgb(154, 153, 153);
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 5vh;
  }

  span.blog-content {
    word-spacing: 4px;
    color: rgba(58, 56, 56, .9);
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 25px;
    font-family: sans-serif;
    letter-spacing: 2px;
    
  }
}


//  ADMIN PANEL STYLING STARTS HERE 

.main-admin-content {
  height: 100vh;
  overflow: scroll;
}

.main-admin-content::-webkit-scrollbar {
  width: 0;
}


.admin-panel-wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;



  .row.dash-services {
    margin-top: 30vh ;

    .cont {
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0px 0px 5px black;
      padding: 5rem 5rem;
      font-size: 24px;
      text-decoration: none;
      text-align: center;
      gap: 20px;
      
    }

    .cont.blog {
      background-color: rgba(246,71,71,.8);
      color: white;
    }
    
    .cont.members {
      background-color: rgba(0,230,64,.6);
      color: rgb(246,71,71);
    }
    .cont.appoi {
      background-color: rgba(191, 64, 191,.6);
      color: white;
    }
  }

}


//  APPOINTMENT PAGE STYLING STARTS 



.appoint-page-wrapper {

  span.noti {
    background-color: red;
    color: white;
  }

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    width: 8px;
    background-color: gray;
    border-radius: 8px;

  }

  .service {
    color: white;
    background-color: green;
    width: fit-content;
    border-radius: 10px;
    padding: 2px 5px;
  }

  .status-up {
    color: white;
    padding: 2px 5px;
    border-radius: 10px;
    background-color: orange;
  }

  width: 100%;
  height: 100%;
  overflow-y: scroll;
  
  &::-webkit-scrollbar {
    width: 0px;
  }


  .appointment {
    padding: 1rem 2rem;

  }
}


//  WRITE BLOG PAGE STYLING 

.write-blog-wrapper {
  
  .label {
    color: black;
    font-weight: 500;
    font-size: 19px;
  }

  .editor {
    width: 50vw;
    resize: none;
    outline: none;
    padding: 1rem;
    border-radius: 20px;

  }
}



.dash-services {
  
}

.d-modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 100;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.593);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  
  .deleting-modal {
    background-color: white;
    width: 30rem;
    height: 30rem;
    box-shadow: 0px 0px 5px black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:rgb(155, 8, 8);
  }

}


.login-modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 100;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.593);
  display: flex;
  justify-content: center;
  align-items: center;
  
  .login-modal {
    background-color: white;
    width: 30rem;
    height: 30rem;
    box-shadow: 0px 0px 5px black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:rgba(20, 6, 28, 0.615);
  }

}

.whatsapp-logo {
  width:3rem;
  position: fixed;
  bottom: 5%;
  right: 5%;
}

//  NOTIFICATIONS PAGE STYLING STARTS HERE 

.clinic-pic {
  width: 100%;
}

.h-heading {
  color: gray;
}


.notifications-page-wrapper {
  

  .notification {
    box-shadow: 0px 0px 5px gray;
    padding: 1rem 1rem;
    font-size : 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;

    .right-side {
      cursor: pointer;
    }

    .left-side {
      display: flex;
      flex-direction: row;
      gap: 30px;
      font-size: 17px;

      i {
        font-size: 30px;
      }
    }
  }


  .notifications-column-row {
    gap: 20px;
  }
}





//  PATIENT PROFILE PAGE STYLING HERE 

.patient-profile-page-wrapper {
  

  img.patient-img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 50%;
  }



  .j-date {
    color: darkslategray;
    font-size: 14px;
    font-family: Segoe UI;
    margin: 10px 0px;
    font-weight: 500;
    font-size: 14px;
  }

  hr {
    margin: 1rem 0;
  }

  
}


.modal-wrapper {

  background-color: rgba(128, 128, 128, 0.53);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0%;
  left: 0%;
  display: none;

    .success-modal {
      width: 30%;
      background-color: white;
      box-shadow: 0px 0px 5px black;
      height: 70vh;
      border-radius: 20px;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
  }
  }


.status {
  background-color: gray;
  padding: 1rem;
  max-width: 100vw;
  box-sizing: border-box;
  
  
}